

.bg-black {
  background-color: #000;
  color: #fff;
}
.container {
  height: 100%;
}
.container .row{
  height: 100%;
}
.title-height{
  /*height: 120px;*/
  padding-top: 60px;
  font-size: 32px;
  padding-bottom: 60px;
}
/*
sidebar
*/
.sidebar{
  background-color: #191818;
  color: #fff;
  height: 100%;
}
#bs-example-navbar-collapse-1{
  /*height: 100% !important;*/
  padding-top: 0px;
}
.sidebar .sidebar-title{
  text-align: center;
  
}
.sidebar span{
  color: #8E8C8C;
  font-size: 32px;
  text-align: center;
  display: block;
  margin: auto;
}
.sidebar .collapse.navbar-collapse{
  padding-left: 0px;
  padding-right: 0px;
}
.sidebar ul{
  width: 100%;
}
.sidebar ul li{
  width: 100%;
}
.sidebar ul li a{
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration:none;
  color: #fff;
}
.sidebar ul li.item-option{
  text-align: center;
}
.sidebar ul li.item-option a{
  font-size: 22px;
  text-align: center;
  display: inline-block;
}
.sidebar ul li a:hover, .sidebar ul li a:focus{
  background-color: #313030;
}
.sidebar ul li.active{
  background-color: #313030;

}

/*
note list 
*/
.note-list-tab{
  background-color: #fff;
  padding: 0px 10px;
}
/*title*/
.note-list-tab .title-height{
  color: #C6C6C6;
}
.note-list-tab .title-height .add-note-btn{
  padding: 6px 20px;
}
.note-list-tab .title-height .book-option button{
  margin-left: 10px;
}
/*add note box*/
.note-list-tab .add-note{
  background-color: #F6F6F6;
  padding: 10px;
  margin: 10px 0px;
}
.note-list-tab .add-note .add-item-box{
  border: 1px dashed #8E8C8C; 
  text-align: center;
  height: 80px;
  vertical-align: middle;
  font-size: 40px;
  padding-top: 8px;
}
.note-list-tab .add-note {
  margin-top: 0px;
}
.note-list-tab .add-note a{
  color: #6C6C6B;
  text-decoration:none;
}
/*list item css*/
.notes-list .list-item{
  background-color: #F6F6F6;
  padding: 8px;
  margin: 10px 0px;
  color:#686879;
  border: 1px solid #F6F6F6;
}
.notes-list .list-item .item-title{
  font-weight: bold;
}
.notes-list .list-item p{
  margin: 0px;
}
.notes-list .list-item a{
  color: #6C6C6B;
  text-decoration:none;
}
.notes-list .list-item.active ,.notes-list .list-item.active:hover{
  border: 1px solid #B4DCF0;
  background-color: #FBFBFB;
  padding: 8px;
}
.notes-list .list-item:hover{
  padding: 8px;
  border: 1px solid #F6F6F6;
  background-color: #FBFBFB;
}
/*note detail tab*/
.note-detail-tab{
  background-color: #fff;
  /*padding: 0px 10px;*/
}
.note-detail-tab .title-height{
  background-color: #D8381F;
  padding-left: 10px;
  padding-right: 10px;
  color: #fff;
  padding: 0px 10px;
}
.note-detail-tab .result-html{
  padding: 0px 10px;
}
.note-detail-tab .title-height .note-title{
  display: inline-block;
  width: 80%;
  padding: 60px 0px;
}
.note-option{
  display: inline-block;
  width: 18%;
  text-align: center;
  vertical-align: middle;
}
.note-option a{
    font-size: 20px;
    color: #A9A9A9;
    margin-left: 10px;
    width: 100%;
    height: 70px;
    margin: 0px;
    padding-top: 20px;
}
.note-option a:hover{
  color: #fff;
}
.note-option-link{
  display: block;
}
